/* General styling for whole site */
body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav a{
  color: seashell;
  text-decoration: underline;
}

h2, h3, h4{
  width: 100%;
  margin: 10px auto;
}

.flex{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* Header specific styling */
header{
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  z-index: 1;
  background-color: black;
}

header .logo, header nav{
  display: inline-block;
}

.logo img{
  height: 50px;
  padding: 10px;
}

nav span{
  padding: 20px 10px;
  flex-grow: 1;
}

/* Hero image content styling */
.hero{
  padding-top: 70px;
  height: 700px;
  width: 1200px;
  background-image: url("Images/img-mission-background.jpg");
}

.mission{
  width: 100%;
  background-color: black;
}

/* Tea of the month styling */
.month{
  width: 1000px;
  margin: 70px 0;
}

.tea{
  display: flex;
  align-items: flex-end;
  background-repeat: no-repeat;
  height: 235px;
  width: 300px;
  background-size: 300px 200px;
  margin: 10px;
}

.tea-name{
  width: 300px;
  font-weight: bold;
}

#berryblitz{
  background-image: url("Images/img-berryblitz.jpg");
}

#spicedrum{
  background-image: url("Images/img-spiced-rum.jpg");
}

#donuts{
  background-image: url("Images/img-donut.jpg");
}

#myrtle{
  background-image: url("Images/img-myrtle-ave.jpg");
}

#bedford{
  background-image: url("Images/img-bedford-bizarre.jpg");
}

/* Locations Styling */
.locations{
  width: 1200px;
  height: 500px;
  background-image: url("Images/img-locations-background.jpg");
  background-position: center;
}

.location{
  background-color: black;
  opacity: 1;
  width: 300px;
  margin: 15px 20px;
}

.location p, .location h3{
  width: 100%;
}

/*Footer styling */
footer{
  display: block;
  text-align: left;
  padding-left: 20px;
  margin: 30px 10px;
}
